table{
    text-align: center;
    margin: 20px 0 0 95px;
}
h1{
    background-color: black;
    color: gray;
    margin-bottom: 10px;
    display: inline;
}
button{
    background-color:green;
}